<div fxLayoutGap fxLayoutAlign="start center">

  <mat-card [ngClass]="match.winner_code == match.home_team.code ? 'winner' : 'looser'">
    <mat-card-header>
      <mat-card-title>{{match.home_team.country}}</mat-card-title>
      <!-- <mat-card-subtitle>Buts {{match.home_team.goals}}</mat-card-subtitle> -->
    </mat-card-header>
    <!-- <img mat-card-image max-height="100px" src="https://restcountries.eu/data/{{ team.flag }}.svg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      {{ match.home_team.goals}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Voir</button>
    </mat-card-actions>
  </mat-card>
  <div>
    VS
  </div>
  <mat-card [ngClass]="match.winner_code == match.away_team.code ? 'winner' : 'looser'">
    <mat-card-header>
      <mat-card-title>{{match.away_team.country}}</mat-card-title>
      <!-- <mat-card-subtitle>But {{match.away_team.goals}}</mat-card-subtitle> -->
    </mat-card-header>
    <!-- <img mat-card-image max-height="100px" src="https://restcountries.eu/data/{{ team.flag }}.svg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      {{ match.away_team.goals}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Voir</button>
    </mat-card-actions>
  </mat-card>